.clip-inspector-custom-properties {
    margin-top: 5px;
}

.clip-inspector-custom-properties__foldout > Toggle {
    background-color: var(--unity-colors-inspector_titlebar-background);
    -unity-font-style: bold;
    padding: var(--unity-metrics-default-border_radius);
}

.clip-inspector-custom-properties__inspector {
    padding-left: 0;
}

.clip-inspector-custom-properties__foldout > Toggle :hover {
    background-color: var(--unity-colors-inspector_titlebar-background-hover);
}
